@using gestionFestival.Models;

@{ 

    CPersonnel p = @Model;

    if (p.Role == "Admin")
        Layout = "~/Views/Shared/headerAdmin.cshtml";
    else if (p.Role == "Comptable")
        Layout = "~/Views/Shared/headerComptable.cshtml";
    else if (p.Role == "Responsable")
        Layout = "~/Views/Shared/headerResponsable.cshtml";
    else if (p.Role == "Participant")
        Layout = "~/Views/Shared/headerParticipant.cshtml";
    else if (p.Role == "Personnel")
        Layout = "~/Views/Shared/headerParticipant.cshtml";



    <h1>Création d' un nouveau compte</h1>

    <label>Nom:@p.Nom</label>

    <br />
    <label>Prenom:@p.Prenom</label>
    <br />
    <label>Email:@p.Mail</label>
    <br />
    <label>Téléphone:>@p.Telephone</label>
    <br />
    <label>Date de naissance:@p.DateNaiss.Date.ToString("dd/MM/yyyy")</label>
    <br />
    <label>Spécialisation:@p.Specialisation</label>
    <br />
    <label>Role:@p.Role</label>
    <br />

    <br />

    @Html.ActionLink("Modifier les informations du compte", "ModifCompteForm", "Account", null, null)
    <br /><br />
   
    @Html.ActionLink("Se désinscrire du projet", "SupprimerCompte", "Account", null, null);
    

}
