


@using (Html.BeginForm("Index", "Login"))
{
    
    
    <label>Email du compe</label>
    <br/>
    <input type="text" name="email" />
    <br/><br/>
    <label>Password</label>
    <br/>
    <input type="text" name="email" />
    <br/>
    <input type="submit" value="connexion"/>  <input type="button" value="Register" />
}
