@using gestionFestival.Models;


@using (Html.BeginForm("Register", "Login"))
{
    <h1>Création d' un nouveau compte</h1>

        <label>Nom</label>
        <input type="text" name="nom" id="nom" required="required" />
        <br />
        <label>Prenom</label>
        <input type="text" name="prenom" id="prenom"  required="required"/>
        <br />
        <label>Email</label>
        <input type="email" name="mail" required="required"/>
        <br />
        <label>Téléphone</label>
        <input type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" placeholder="ex:0473000000" name="tel" required="required"/>
        <br />
        <label>Date de naissance</label>
        <input type="date" name="dateNaiss" value="1/1/1980"  required="required" />
        <br />
        <label>Spécialisation</label>
        <textarea name="spec" required="required"></textarea>
        <br />
        <label>Mot de passe</label>
        <input type="password" name="pass" height="40" width="100" required="required" />
        <br />


        <input type="submit" value="Confirmer" />
        <br />

        
}
<h1>@ViewBag.Message</h1>