@using gestionFestival.Models
@{
    Layout = "~/Views/Shared/headerComptable.cshtml";
    ViewBag.Title = "GestionDemande";
}
<br />
<div>
    <br />
    <table>
        <tr><td colspan="2"><h2>Poste sans budget</h2></td></tr>
        @foreach (CPoste liste in ViewBag.listeDesPostes)
        {
            if (liste.BudgetDepart == 0)
            {
                <tr>
                    <td>@liste.NomPoste</td>
                    <td><button onclick="">@Html.ActionLink("Gérer le compte", "GestionCompte", "Comptable", new { id = liste.Id, nom = liste.NomPoste, budgetActuel = liste.BudgetActuel, budgetDepart = liste.BudgetDepart, description = liste.Description, dep = liste.Depense, rec = liste.Recette }, null)</button></td>
                </tr>
            }
        }
    </table>
    <br />
    <h3>@ViewBag.message</h3>
</div>